<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reserva de mesa</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <style>
        .delete-button {
            width: 30px;
            height: 30px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/view-schedule">Cronograma</a></li>
        <li><a href="/assign-shifts">Asignación de turnos</a></li>
        <li><a href="/book-table">Reserva de mesa</a></li>
        <li><a href="/manage-orders">Trabajar con pedidos</a></li>
        <li><a href="/login">Salida</a></li>
    </ul>
</div>


<div class="main-content">
    <div id="content">
        <h2>Reserva de mesa</h2>
        <form action="#" th:action="@{/book-table}" method="post">
            <label for="table_id">Elige una mesa:</label>
            <select id="table_id" name="table_id">
                <option th:each="table : ${tables}" th:value="${table.id}" th:text="${'Столик №' + table.id}"></option>
            </select>
            <label for="date">Seleccione una fecha:</label>
            <input type="date" id="date" name="date" th:min="${currentDate}" th:max="${maxDate}"/>
            <label for="time">Elige una hora:</label>
            <select id="time" name="time">
                <option th:each="time : ${times}" th:value="${time}" th:text="${time}"></option>
            </select>

            <label for="info">Introduzca su nombre:</label>
            <input type="text" id="info" name="info" placeholder="Имя">
            <br>
            <button type="submit">Agregar</button>
        </form>
        <p th:text="${message}"></p>
    </div>
    <div class="booking-table">
        <h2>Mesas reservadas</h2>
        <table>
            <thead>
            <tr>
                <th>mesa</th>
                <th>fecha</th>
                <th>Tiempo</th>
                <th>Información</th>
                <th>Eliminar reserva</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${'Столик №' + booking.table.id}"></td>
                <td th:text="${booking.date}"></td>
                <td th:text="${booking.time}"></td>
                <td th:text="${booking.info}"></td>
                <td>
                    <div class="delete-button-wrapper">
                        <form th:action="@{/book-table/{id}/delete(id=${booking.id})}" method="post">
                            <button type="submit" class="delete-button">X</button>
                        </form>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
