<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pedidos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="sidebar">
    <a href="/staff">Empleados</a>
    <a href="/orders">Pedidos</a>
    <a href="/menu">Menú</a>
    <a href="/login">Cerrar sesión</a>
</div>

<div class="main-content">
    <h1>Gestionar pedidos</h1>
    <table>
        <tr>
            <th>Identificación</th>
            <th>Información del pedido</th>
            <th>Coste total</th>
            <th>Mesa</th>
            <th>Tiempo de envío del pedido</th>
            <th>Tiempo de entrega del pedido</th>
            <th>Estado del pedido</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:utext="${order.information}"></td>
            <td th:text="${order.totalCost + 'руб.'}"></td>
            <td th:text="${order.table.id}"></td>
            <td th:text="${order.startTime}"></td>
            <td th:text="${order.endTime}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <form th:action="@{/orders/delete}" method="post">
                    <input type="hidden" th:value="${order.id}" name="id"/>
                    <button type="submit">Eliminar pedido</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="sidebar-right">
    <div class="actions">
        <a href="/staff/delete">Eliminar pedido</a>
    </div>
</div>
</body>
</html>
